[submodule "as31"]
	path = as31
	url = git@github.com:Noack-Oy/as31.git
[submodule "lcc"]
	path = lcc
	url = git@github.com:Noack-Oy/lcc.git
[submodule "emu8051"]
	path = emu8051
	url = git@github.com:Noah1989/emu8051.git
